/* buttons */
.btn {
    cursor: pointer;
    font-weight: 500;
    border-width: 0;
    padding: 9px 17px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1.5384616;
    border-radius: 3px;
    border: 1px solid transparent;
    background-image: none;
    transition: all ease-in-out .15s;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.btn.focus, .btn:focus, .btn:hover {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

/* card */
.card {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 20px;
    border-width: 0;
    color: #333;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}


/* form elements */
.input {
    background-color: #fff;
    border: 2px solid #e0e6e8;
    border-radius: 3px;
    height: 40px;
    line-height: normal;
    margin: 0;
        margin-bottom: 0px;
    padding: 0;
        padding-left: 0px;
    padding-left: 16px;
    transition: border .15s;
    width: 100%;
}
 
.input:active, .input:focus {
    border-color: #2196F3;
    outline: 0;
}
  
.input-group {
    margin-bottom: 24px;
}
  
label {
    display: block;
    margin-bottom: 8px;
    touch-action: manipulation;
}