
.col-2, .col-4, .col-6, .col-8, .col-10, .col-12 {
    /* height: 100%; */
    height: auto;
    float: left;    
    /* padding-left: 10px;
    padding-right: 10px; */
    position: relative;

}
.col-2 {
    width: 15.33333333% !important;
}

.col-4 {
    width: 33.33333333% !important;
}

.col-6 {
    width: 50% !important;
}

.col-8 {
    width: 66.66666667% !important;
}

.col-10 {
    width: 84% !important;
}

.col-12 {
    width: 100% !important;
}